.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
    margin-top: 50px;
}
.my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    /* background: grey; */
    margin-bottom: 30px;
}

.createButton{
    background-color: #1a2456;
    padding: 12px;
    color: #efc2b3;
    font-size: large;
    border: none;
    margin-bottom: 5px;
    margin-top: 15px;
}
.no-notes-message{
    text-align: center;
    font-size: 3.5rem;
    color: #1a2456;
    margin-top: 150px;
}